header
{
    border: 1px solid black;
    background-color: black;
    border-radius: 80px;
    color: white;
    width: 960px;
    margin: auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: large;
}
figure
{
    margin: 0;
}
figcaption
{
    text-align: center;
}
section
{
    width: 960px;
    margin: 20px auto;
}
.sec1, .sec2, .sec3
{
    border: 1px solid rgba(0, 0, 0, 0.301);
    width: 307px;
    border-radius: 20px;
    display: inline-block;
    margin:0 5px;
    box-sizing: border-box;
}
.sec1 img, .sec2 img, .sec3 img
{
    width: 240px;
    height: 153px;
    padding: 25px 0 0 38px;
}
.sec1 p, .sec2 p, .sec3 p, .sec1 h3, .sec2 h3, .sec3 h3
{
    text-align: justify;
    margin: 15px 15px;
}
hr
{
    width: 96%;
}
.sec1 a, .sec2 a, .sec3 a
{
    margin: 0 0 15px 15px;
    text-align: justify;
    display: inline-block;
}