body
{
    background-image: url("../imagens/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 150pt;
    padding-bottom: 0pt;
}
#formulario
{
    border: 1px solid grey;
    border-radius: 15px;
    background-color: rgba(255, 239, 209, 0.877);
    text-align: center;
    margin: 0;
    box-shadow: 0px 0px 5px 5px #0000001a;
}
p
{
    font-size: 200%;
    text-align: center;
    margin: 0;
    padding-top: 15pt;
}
.campo
{
    margin: 12px;
}
.campo input
{
    width: 80%;
    height: 20pt;
}
a
{
    padding-left: 60%;
    display: inline-block;
    color: rgb(241, 121, 9);
    text-decoration: none;
    padding-right: 15px;
}
#logar
{
    background-color: rgb(241, 121, 9);
    width: 85%;
    height: 50px;
    border-radius: 15px;
    border-color: rgb(146, 88, 0);
    margin: 15px;
    font-size: medium;
}
span
{
    padding-right: 5px;
}
