body
{
    width: 960px;
    margin: 0 280px;
}
aside
{
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 790px;
    float: left;
    border-radius: 0 15px 15px 0;
    color: blue;
}
aside p
{
    margin: 330px 20px 0;
    font-size: 35px;
}
section img
{
    width: 150px;
    height: 150px;
}
section
{
    margin: 0 0 15px 5px;
    border-radius: 15px;
    display: inline-block;
    width: 601.25px;
}
section:nth-child(1)
{
    border: 1px solid red;
    box-shadow: 10px 10px 20px -10px red;
}
section:nth-child(2)
{
    border: 1px solid rgb(204, 184, 0);
    box-shadow: 15px 15px 5px -5px rgb(255, 230, 0);
}
article
{
    clear: both;
    border: 1px solid black;
    display: inline-block;
    height: 100px;
    border-radius: 0 15px 15px;
    width: 813px;
}
.btn
{
    margin: 15px 380px 0;
}
label
{
    margin: 0 367px;
}
.inp
{
    float: left;
    margin: 0 324px;
}
.margem
{
    margin-top: 15px;
}
footer
{
    clear: both;
    color: white;
    background-color: black;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 820px;
    border-radius: 15px 15px 0 0;
}