figure
{
    border:1px transparent;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
figure img
{
    border-radius: 30px 30px 0 0;
}
body
{
    padding-left: 38%;
    padding-right: 38%;
    border-radius: 20px;
}
#aa
{
    box-shadow: 3px 3px 2px 2px #000000bb;
}
h1
{
    display: inline-block;
    margin: 0;
    padding-right: 35%;
    padding-left: 5px;
}
.dist
{
    display: inline-block;
    margin: 0;
}
hr
{
    color: rgba(128, 128, 128, 0.397);
    display: inline-block;
    width: 92%;
    margin: 10px;
}
h3
{
    padding-left: 8px;
}
.horario
{
    display: inline-block;
}
p
{
    text-align: justify;
}
.dias
{
    text-align: center;
}
.horario p
{
    margin: 0px;
    display: inline-block;
    padding-left: 10px;
}
.reserva
{
    text-align: center;
    font-size: 200%;
    padding-bottom: 10px;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.295);
}
#texto
{
    font-weight:700;
    padding-left: 10px;
    padding-right: 10px;
}
.pack
{
    padding-left: 10%;
}