body
{
    background-color: rgba(220, 255, 184, 0.349);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header
{
    background-color: rgb(0, 38, 70);
    color: white;
    font-size: 25pt;
    padding-top: 20pt;
    font-weight: 50pt;
    padding-bottom: 7pt;
}
footer
{
    background-color: rgba(68, 116, 78, 0.616);
    color: white;
    padding-bottom: 25pt;
    padding-top: 5pt;
    text-align: center;
    font-size: smaller;
}
figure
{
    border: 1px solid rgba(128, 128, 128, 0.534);
    background-color: white;
    text-align: center;
}
figure img
{
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 2.5%;
}
figcaption
{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 80pt;
}
article
{
    padding-left: 500pt;
    padding-right: 500pt;
    padding-top: 3pt;
    padding-bottom: 30pt;
}
p
{
    text-align: center;
    padding-top: 10pt;
}